POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_sys_db

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=auth_system_db
DB_PORT=5432
DB_NAME=auth_sys_db

# secret key added for testing, anyway you can create yourself
SECRET_KEY=LO-ocVkO5nExNUymx8ZbOQTUWkyhYIZtkGgqhkSOFCc
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30